<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="[/home]">Dating App</a>
    <ul class="navbar-nav mr-auto">
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']" *ngIf="loggedIn()"
          >Matches</a
        >
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']" *ngIf="loggedIn()"
          >Lists</a
        >
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']" *ngIf="loggedIn()"
          >Messages</a
        >
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"
          ><i class="fa fa-user"></i> Edit profile</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()"
          ><i class="fa fa-sign-out"></i> Log out</a
        >
      </div>
    </div>

    <form
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
      *ngIf="!loggedIn()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
        [(ngModel)]="model.username"
        required
        name="username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        [(ngModel)]="model.password"
        required
        name="password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
